@import url("https://fonts.googleapis.com/css2?family=Oldenburg&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "roboto", sans-serif;
  box-sizing: border-box;
}
* a {
  text-decoration: none;
  cursor: pointer;
}
* li {
  list-style: none;
}
* svg {
  width: 2.3em;
}
* .open-nav {
  transform: translateX(0);
}
* img {
  animation: Bellaintroload 3s forwards;
}

:root {
  --primary-color: #fff;
  --secondary-color: #000000;
}

.dark-theme {
  --primary-color: #000000;
  --secondary-color: #fff;
}

body {
  background: var(--primary-color);
  margin: 1em;
}
body .dogpaws {
  display: none;
}
body .paws {
  display: none;
}
body .dots {
  display: none;
}
body #icon {
  width: 40px;
  cursor: pointer;
}
body .moon-icon {
  display: none;
}
body header {
  display: flex;
  justify-content: space-around;
  margin: 1.2em;
}
body header .close {
  float: right;
  margin: 2em;
  background: var(--primary-color);
}
body header .logo {
  width: 70%;
  font-family: Oldenburg;
  font-size: 24px;
  font-weight: 400;
  line-height: 30.3px;
  color: var(--secondary-color);
}
body header nav {
  position: fixed;
  background: var(--secondary-color);
  right: 0;
  top: 0;
  height: 100vh;
  width: 100%;
  z-index: 999;
  transform: translateX(100%);
  transition: 0.5s ease-in-out;
}
body header nav ul {
  padding: 0;
  margin-top: 6em;
}
body header nav ul a {
  display: block;
  color: var(--primary-color);
  padding: 2em 4em;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 20.2px;
  text-align: center;
}
body header nav ul a:hover {
  color: rgba(243, 166, 140, 0.8745098039);
  font-weight: 700;
}
body header .cta-buttons {
  display: none;
}
body #hero {
  margin-top: 4em;
  font-family: poppins;
}
body #hero h1 {
  margin-top: 2.3em;
  width: 340px;
  margin: 0 auto;
  font-size: 60px;
  font-weight: 600;
  line-height: 75.76px;
  text-align: center;
  color: var(--secondary-color);
}
body #hero p {
  color: #3c3c3c;
  margin: 0 auto;
  text-align: center;
  margin-top: 2em;
  padding: 0.5em;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 20.2px;
  text-align: center;
}
body #hero .cta {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 20.2px;
  text-align: center;
  width: 176px;
  display: block;
  margin: 0 auto;
  background: #562211;
  color: var(--primary-color);
  padding: 10px 6px 10px 10px;
  border-radius: 48px;
  margin-top: 2em;
  margin-bottom: 2em;
}
body #hero .cta:hover {
  background: transparent;
  color: #562211;
  border: 2px solid #562211;
}
body #hero .features {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
  margin-top: 4em;
}
body #hero .features .one,
body #hero .features .first {
  text-align: center;
}
body #hero .features .one h2,
body #hero .features .first h2 {
  font-family: Oldenburg;
  font-size: 16px;
  font-weight: 400;
  line-height: 20.2px;
  color: var(--secondary-color);
}
body #hero .features .one h2 span,
body #hero .features .first h2 span {
  font-size: 12px;
  font-weight: 400;
  line-height: 15.15px;
  color: #544f4f;
}
body #hero .hero-img {
  margin-top: 5em;
  width: 100%;
}

@media only screen and (min-width: 680px) {
  header nav {
    background: #0b63b2;
  }
  header nav ul a {
    font-size: 18px;
  }
  #hero {
    margin-top: 4em;
    font-family: poppins;
  }
  #hero h1 {
    margin-top: 2.3em;
    font-size: 50px;
    font-weight: 600;
    line-height: 57.25px;
    width: 640px;
    margin: 0 auto;
    text-align: center;
  }
  #hero h1 span {
    color: #2686ca;
  }
  #hero p {
    font-family: poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    color: #697586;
    margin: 0 auto;
    text-align: center;
    margin-top: 2em;
    padding: 0.5em;
  }
}
@media only screen and (min-width: 920px) {
  .menu,
  .close,
  .nav-cta,
  .adopt-now {
    display: none;
  }
  body #icon {
    width: 25px;
    cursor: pointer;
  }
  body .dogpaws {
    width: 450px;
    top: 8em;
    display: block;
    position: absolute;
  }
  body .paws {
    margin-left: 72em;
    position: absolute;
    top: 30px;
    width: 110px;
    display: block;
  }
  body .dots {
    display: block;
    position: absolute;
    width: 10px;
    top: 500px;
    bottom: 500px;
    left: 120em;
  }
  body header {
    display: flex;
    justify-content: space-between;
    font-family: Poppins;
    align-items: center;
  }
  body header .logo a {
    width: 70%;
    margin-left: 3em;
  }
  body header nav {
    transform: translateX(0);
    background: none;
    position: unset;
    width: auto;
    height: auto;
    margin-left: -105em;
    margin-right: -20em;
  }
  body header nav ul {
    display: flex;
    justify-content: space-evenly;
    margin-top: 0;
    background: none;
  }
  body header nav ul li {
    padding: 0.5em;
  }
  body header nav ul li a {
    color: #414141;
    padding: 2em;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 20.2px;
    text-align: center;
  }
  body header nav ul li a:hover {
    background: none;
    color: #562211;
    font-size: 600;
  }
  body header nav ul li a::after {
    content: "";
    width: 0;
    height: 2px;
    background: #562211;
    display: block;
    transition: 0.2s linear;
  }
  body header nav ul li a:hover::after {
    width: 100%;
  }
  body header .moon {
    display: none;
  }
  body header .moon-icon {
    display: block;
  }
  body header .cta-buttons {
    display: block;
    margin-bottom: 1em;
    width: 120px;
    height: 40px;
    color: #562211;
    border: 1px solid #562211;
    border-radius: 12px;
    padding: 0.4em 0.8em;
    padding: 10px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 20.2px;
    text-align: center;
    margin-left: -10em;
  }
  body header .cta-buttons:hover {
    background: #562211;
    color: var(--primary-color);
  }
  body #hero {
    margin-top: 4em;
    font-family: poppins;
  }
  body #hero h1 {
    margin-top: 1em;
    width: 785px;
    font-family: Roboto;
    font-size: 60px;
    font-weight: 600;
    line-height: 75.76px;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 0.4em;
    text-align: center;
    color: var(--secondary-color);
  }
  body #hero p {
    margin-top: 2em;
    padding: 0.5em;
    width: 572px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 20.2px;
    text-align: center;
    color: #3c3c3c;
  }
  body #hero .features {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 524px;
    margin: 0 auto;
    margin-top: 4em;
  }
  body #hero .features .one {
    border-left: 1px solid var(--secondary-color);
  }
  body #hero .features .one,
  body #hero .features .first {
    text-align: center;
  }
  body #hero .features .one h2,
  body #hero .features .first h2 {
    font-family: Oldenburg;
    font-size: 16px;
    font-weight: 400;
    line-height: 20.2px;
    color: var(--secondary-color);
  }
  body #hero .features .one h2 span,
  body #hero .features .first h2 span {
    font-size: 12px;
    font-weight: 400;
    line-height: 15.15px;
    color: #544f4f;
  }
}
@keyframes Bellaintroload {
  from {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  to {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
}/*# sourceMappingURL=main.css.map */
